<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Breadcrumbs-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-sm-0">
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
      <span>&nbsp;/&nbsp;</span>
      <span>Outbound Bucket</span>
    </h4>

  </div>
  <!--/Breadcrumbs-->

</div>
<!-- Heading -->

<div class="row mt-5">
  <div class="col-md-12">

    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue darken-2" style="padding:0px;">
        <h4 class="h4-responsive text-white float-left" style="margin-top:15px; margin-left:15px;">Outbound Bucket Documents</h4>
        <!-- Add New Group Button -->
        <button type="button" class="btn btn-primary waves-light float-right" data-toggle="modal" data-target="#basicExample" (click)="centralRegular.show()" mdbWavesEffect><i class="fa fa-plus">&nbsp;&nbsp;Assemble Package</i></button>
        <!-- \Add New Group Button -->
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body"  id="accordion">

        <div class="card">
          <div class="card-header" id="headingOne">
            <i class="fa fa-folder-open-o fa-2x"></i>
            <button class="btn btn-link accordion-row" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="accordion-row-title"><h5>Housing</h5></div>
            </button>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <!--Table-->
              <table class="table">

                <!--Table head-->
                <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Package Name</th>
                  <th>Document Name</th>
                  <th colspan="2">Actions</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_1_1"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;House Transfer Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_1_2"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Check1</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_1_3"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Backyard Rent Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_1_4"></td>
                    <td><a href="packages/housing">Insurance</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Insurance License Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <i class="fa fa-folder-o fa-2x"></i>
            <button class="btn btn-link accordion-row" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <div class="accordion-row-title"><h5>Loans</h5></div>
            </button>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <!--Table-->
              <table class="table">

                <!--Table head-->
                <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Package Name</th>
                  <th>Document Name</th>
                  <th colspan="2">Actions</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_2_1"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;House Transfer Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_2_2"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Check1</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_2_3"></td>
                    <td><a href="packages/housing">House Buying Contract</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Backyard Rent Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_2_4"></td>
                    <td><a href="packages/housing">Insurance</a></td>
                    <td>
                      <div><i class="fa fa-file-pdf-o">&nbsp;Insurance License Agreement</i></div>
                    </td>
                    <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <i class="fa fa-folder-o fa-2x"></i>
            <button class="btn btn-link accordion-row" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <div class="accordion-row-title"><h5>Insurance</h5></div>
            </button>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <!--Table-->
              <table class="table">

                <!--Table head-->
                <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Package Name</th>
                  <th>Document Name</th>
                  <th colspan="2">Actions</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_3_1"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;House Transfer Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_3_2"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Check1</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_3_3"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Backyard Rent Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_3_4"></td>
                  <td><a href="packages/housing">Insurance</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Insurance License Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <i class="fa fa-folder-o fa-2x"></i>
            <button class="btn btn-link accordion-row" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <div class="accordion-row-title"><h5>Assets</h5></div>
            </button>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <!--Table-->
              <table class="table">

                <!--Table head-->
                <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Package Name</th>
                  <th>Document Name</th>
                  <th colspan="2">Actions</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_4_1"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;House Transfer Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_4_2"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Check1</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_4_3"></td>
                  <td><a href="packages/housing">House Buying Contract</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Backyard Rent Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td><input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox_td_4_4"></td>
                  <td><a href="packages/housing">Insurance</a></td>
                  <td>
                    <div><i class="fa fa-file-pdf-o">&nbsp;Insurance License Agreement</i></div>
                  </td>
                  <td><a><i class="fa fa-edit fa-2x"></i></a></td>
                  <td><a><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>
          </div>
        </div>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
</div>

<!--Grid row-->
<div class="row">
  <!--Grid column-->
  <div class="col-lg-12">
    <div class="text-center">

      <!--Pagination -->
      <nav class="my-4">
        <ul class="pagination pagination-circle pg-blue mb-0">

          <!--First-->
          <li class="page-item disabled"><a class="page-link" mdbWavesEffect>First</a></li>

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" mdbWavesEffect aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>

          <!--Arrow right-->
          <li class="page-item">
            <a class="page-link" mdbWavesEffect aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item"><a class="page-link">Last</a></li>

        </ul>
      </nav>
      <!--/Pagination -->
    </div>
  </div>
</div>
<!--Grid row-->

<!--Assemble Package Modal Form-->
<div mdbModal #centralRegular="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Assemble Package</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="centralRegular.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form">
          <input mdbInputDirective placeholder="Package Name" type="text" id="form58" class="form-control">
          <label for="form58">Package</label>
        </div>
        <div>
          <ol>
            <li>Document 1</li>
            <li>Document 2</li>
            <li>Document 3</li>
          </ol>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective type="text" id="form_signer_email_1" class="form-control">
          <label for="form_signer_email_1">Signer 1 Email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective type="text" id="form_signer_email_2" class="form-control">
          <label for="form_signer_email_2">Signer 2 Email</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="centralRegular.hide()" mdbWavesEffect>Close</button>
        <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>Create Package</button>
      </div>
    </div>
  </div>
</div>

