    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
  
                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#" target="_blank">
                    <strong class="blue-text">Document Web Service</strong>
                </a>
  
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#" target="_blank">About DWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#" target="_blank">Download Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#" target="_blank">Online Tutorial</a>
                        </li>
                    </ul>
  
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">

                        <li class="nav-item">
                            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-github mr-2"></i> DWS on GitHub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link border border-light rounded waves-effect" target="_blank">
                            <i class="fa fa-sign-in left"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="ml-1 nav-link border border-light rounded waves-effect">
                            <i class="fa fa-user-plus left"></i> Register</a>
                        </li>
                    </ul>
  
                </div>
  
            </div>
        </nav>
        <!-- Navbar -->
  
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
  
            <a class="logo-wrapper waves-effect">
                <img src="../../../../assets/img/dws-logo.png" class="img-fluid" alt="">
            </a>
  
            <div class="list-group list-group-flush">

                <a routerLink="dashboards/v1"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Dashboard</a>
                <a routerLink="groups/v1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-object-group mr-3"></i>Groups</a>
                <a routerLink="packages/v1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-cubes mr-3"></i>Packages</a>
                <a routerLink="documents/v1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-file-o mr-3"></i>Documents</a>
                <a routerLink="profiles/profile1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user mr-3"></i>Profile</a>
                <a routerLink="tables/table1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Tables</a>

            </div>
  
        </div>
        <!-- Sidebar -->
  
    </header>
    <!--Main Navigation-->


