<section class="mt-lg-5">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Warning-->
            <div class="card classic-admin-card warning-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-file-text-o fa-2x"></i>
                    </div>
                    <p>INBOUND BUCKET</p>
                    <h4>
                        <strong>232</strong>
                    </h4>
                </div>
            </div>
            <!--/.Card Warning-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Blue-->
            <div class="card classic-admin-card light-blue lighten-1">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-file-pdf-o fa-2x"></i>
                    </div>
                    <p>OUTBOUND BUCKET</p>
                    <h4>
                        <strong>95</strong>
                    </h4>
                </div>
            </div>
            <!--/.Card Blue-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>